<p>button works!</p>
<div>
  <div>
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  searching any" (ngModelChange) = 'searchFilter()'>
    <button  type="submit" (click) ='searchForInput()'>Search</button>
 
  <div>
      userId: <input [(ngModel)] = "userId" type="text">
      ID: <input [(ngModel)] ="id" type="text" >
      type: <input [(ngModel)] ="type" type="text">
      location: <input  [(ngModel)]="location" type="text" >
  </div>
    
</div>
 <button  type="submit" (click) ='add()'>Add</button>
<button  type="submit" (click) ='addrow()'>Addrow</button>
</div>

